# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Type checker
.mypy_cache/

# Data files (Simulated database & inputs)
*.json
*.csv